<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit a game</title>
</head>
<body>
  <h1>Edit the game below!</h1>

  <form method="POST" action="/videoGames/<%= videoGame.id %>/edit" >
    <label>Title</label>
    <input name="title" value="<%= videoGame.title %>"/>
    <br/>
    <label>Genre</label>
    <input name="genre" value="<%= videoGame.genre %>"/>
    <br/>
    <label>Release Year</label>
    <input name="releaseYear" value="<%= videoGame.releaseYear %>"/>
    <br/>
    <label>Platform</label>
    <input name="platform" value="<%= videoGame.platform %>"/>
    <br/>
    <button type="submit">Edit!</button>
  </form>
</body>
</html>
